<section>
    <div class="container">
        <div class="row p-3">
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">CUSTOMERS</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL USERS</h5>
                        <center><p class="card-text" style="font-size: 43px;">{{usercount}}</p></center>
                    </div>
                    <a href="/admin/view-edit-user"><div class="card-footer bg-transparent border-success">VIEW CUSTOMERS</div></a>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">CATEGORIES</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL CATEGORIES</h5>
                        <center><p class="card-text" style="font-size: 43px;">{{categorycount}}</p></center>
                        
                    </div>
                    <a href="/admin/view-category"><div class="card-footer bg-transparent border-success">VIEW CATEGORIES</div></a>
                    

                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">PRODUCTS</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL PRODUCTS</h5>
                        <center><p class="" style="font-size: 43px;">{{productcount}}</p></center>
                    </div>
                    <a href="/admin/all-products"><div class="card-footer bg-transparent border-success">VIEW PRODUCTS</div></a>
                </div>

                

            </div>
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">STAFFS</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL STAFFS</h5>
                        <center><p class="card-text" style="font-size: 43px;">{{staffcount}}</p></center>
                    </div>
                    
                    <a href="/admin/view-staff"><div class="card-footer bg-transparent border-success">VIEW STAFFS</div></a>
                    

                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">ORDERS</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL ORDERS</h5>
                        <center><p class="card-text" style="font-size: 43px;">{{ordercount}}</p><h2>Not available</h2></center>
                    </div>
                    
                    <a href="#"><div class="card-footer bg-transparent border-success">VIEW ORDERS</div></a>
                    

                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">FEEDBACK</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL FEEDBACK</h5>
                        <center><p class="card-text" style="font-size: 43px;">{{feedcount}}</p></center>
                        
                    </div>
                    <a href="/admin/feedback"><div class="card-footer bg-transparent border-success">VIEW FEEDBACK</div></a>
                    

                </div>
            </div>

        </div>
    </div>
</section>


                    